    <!-- Header section -->        
    
    <header>
      <%- include ('partials/header.ejs'); %>
    </header>
   
    <!-- Main Navigation Section --> 
        <%- include ('partials/main_nav.ejs'); %>

    <!-- Content Section -->      
    <main>
      <div class="container">
        <%- include ('Content/' + page + '.ejs'); %>
      </div>
    </main>

    <!-- Main Navigation Section --> 
      <%- include ('partials/bottom_nav.ejs'); %>
   
 

    
